.About{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 50px;
    align-items: center;
    background-color: transparent;
}
.aboutmepara{
    margin: 5px 15% 5px 15%; 
    padding: 1rem 3% 1rem 3%;
    border-style:groove;
    border-color: #0d1a4b70;
}
.aboutpara{
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 5px;
    padding: 5px;
}
.thinkscontainer{
    margin: 5px 15% 5px 15%;
    text-align: start;
    color: white;
}
.about-view{
    flex-wrap: wrap;
}