.appcss{
  position: relative;
  z-index: 0;
}
.primarybackground{
  background-color: #0d1a4b;
}
.primarycolor{
  color: #0d1a4b;
}
.secoundarybackground{
  background-color: #5275f4;
}
.secoundarycolor{
  color: #5275f4;
}