.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.getintouch{
    padding-left: 2rem;
    font-size: 1rem;
}
.contactpadding{
    margin: 3rem 0rem 3rem 0rem;
    padding: 0rem 3rem;
}
.contactform{
    width: 30rem;
    height: fit-content;
    position: relative;
    margin: 2rem;
    color: white;
    border-radius: 1rem;
    background-color:#5275f480;
}
.contacttitle{
    width: 100%;
    margin-top: 4rem;
    text-align: center;
    font-size: clamp(1rem, 20vw, 0.5rem);
}
input,textarea{
    border-radius: 0.3rem;
    width: 90%;
    margin: 0.7rem;
    color: whitesmoke;
    border: #130a26;
    padding: 0.5rem;
    background-color: #162045;
    font-size: 1rem;
}

textarea{
    height: 7rem;
    max-height: 100%; 
    min-width: 90%;
    max-width: 90%;
    min-height: 5rem;
}
.field{
    margin-top: 1.5rem;
}

.contactbutton{
    margin-top: 1.5rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.contactbtn{
    width : 20%;
    height: 2rem;
    min-width: 4rem;
    max-width: 6rem;
    border-radius: 20px;
}
@media(max-width : 550px){
    .contactform{
        width: 90%;
    }
}
/* @media(max-width : 70rem){
    .contactform{
        width: 45%;
    }
} */